*{margin: 0; padding: 0; box-sizing: border-box;}

.container {
    margin: 0 auto;
    width: 80%;
}

.container div {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 10%;
}

.row {
    margin-bottom: 1vw;
}

.card {
    margin: 0;
    border: 2px red solid;
}

.card-back {
    background-position: center;
    background-image: url("../img/card2.png"); 
    background-size: cover;
    min-width: 17em;
    min-height: 25rem;
}