*{margin: 0; padding: 0; box-sizing: border-box;}

.flex-container {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

.flex-container .row {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.row {
    margin-bottom: 1vw;
    position: relative;
}

.row-two {
    top: 10vh;
}

.row-three {
    top: 20vh;
}

.card {
    min-width: 30vh;
    min-height: 40vh;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flip {
    transform: rotateY(180deg);
}
.card-back, .card-front{
    position: absolute;
    background-position: center;
    background-size: cover;
    min-width: 30vh;
    min-height: 40vh;
    border: 2px red solid;
    justify-content: space-evenly;
    align-content: center;
}
.card-back {
    background-image: url("../img/card2.png");
}

.card-front {
   background-image: url("../img/ball.jpg");
   transform: rotateY(180deg); 
}


/* timer */

#game-controll-section{
    margin-top: 5vh;
    margin-left: 5vw;
}